img {
    height: 90px;
    width: 90px;
}

textarea {
    resize: none;
  }

aside {
    border-style :outset;
    border-radius: 50px ;
    border-width: 5px;
    border-color:dimgray;
    background-color: rgb(212, 212, 212);
    opacity: 0.9;
}

a.deco {
    text-decoration:none;
    color:silver;
}

nav{
    height: 150px;
    font-style : italic;
    background-color:rgb(110, 14, 14);
    text-align: center;
    border-style:outset;
    border-radius: 50px ;
    border-width: 5px;
    border-color: rgb(110, 7, 7);
}

.titre {
    font-style : oblique;
    font-size: 100px;
    color:silver;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.tel {
    text-align: left;
    grid-column: 1/3;
    grid-row: 1;
    margin-left:270px;
    font-family: "Rubik";
}

.home {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1;
    font-family: "Rubik";
}

.mail {
    text-align: center;
    grid-column: 3/3;
    grid-row: 1;
    margin-right: 50px;
    font-family: "Rubik";
}

body  {
    background-image:url("https://wallpaperaccess.com/full/3731611.jpg");
}

section {
    border-style :outset;
    border-color:rgb(199, 199, 199);
    background-color: rgb(241, 241, 241);
    opacity: 0.9;
}

h1 {
    margin-left: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    margin-left: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    margin-left: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input.bouton {
    margin-left: 10px;
    margin-bottom: 10px;
}