img {
    height: 25px;
    width: 25px;
}

textarea {
    resize: none;
  }

aside {
    text-align: center;
    border-style :outset;
    border-radius: 50px ;
    border-width: 5px;
    border-color:dimgray;
    background-color: rgb(212, 212, 212);
}

nav{
    height: 150px;
    font-style : italic;
    background-color:rgb(110, 14, 14);
    text-align: center;
}

div {
    font-style : oblique;
    font-size: 100px;
    color:silver;
    text-align: center;
}

body  {
    background-color:rgb(248, 195, 148);
}

section {
    border-style :outset;
    border-color:rgb(199, 199, 199);
    background-color: rgb(241, 241, 241);
}

h1 {
    margin-left: 10px;
}

h2 {
    margin-left: 10px;
}

h3 {
    margin-left: 10px
}

input.bouton {
    margin-left: 10px;
    margin-bottom: 10px;
}