nav{
    height: 150px;
    font-style : italic;
    background-color: teal;
}
div {
    font-style : oblique;
    font-size: 100px;
    color:silver;
}
body  {
    text-align  : center;
    background-color: powderblue;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 10px ;
    border-color: palegreen;
    background-color:powderblue ;
}

p{
    font-size: 25px;
    color:slategray;
    text-shadow: black;
}
