nav{
    height: 150px;
    font-style : italic;
    background-color:rgb(110, 14, 14);
    text-align : center ;
}


div {
    text-align: center;
    font-style : oblique;
    font-size: 100px;
    color:silver;
}
body  {
    background-image:url("https://wallpaperaccess.com/full/3731611.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    height: 400px;
    width: 400px;
    border-style :outset;
    border-radius: 50px ;
    border-width: 5px;
    border-color:white;
}

p{
    font-size: 25px;
    font-style: italic;
    color:black;
    text-shadow: 5px 3px tan;
}
a {
    font-size: 25px;
    font-style: normal;
    font-weight: lighter;
    color :rgb(243, 243, 188);
    border-radius: 5px;
    
}

.wrapper {
    display : grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap : 10px;
    grid-auto-rows:minmax(100px,auto)
   
  
}
    .im-long1 {
        background-color: rgb(240, 224, 193);
        grid-column:1 ;
        grid-row: auto;
  }

    .im-long2 {
        background-color: rgb(240, 224, 193);
        grid-column: 2;
        grid-row: 1;
  }

    .im-mini {
        background-color: rgb(240, 224, 193);
        grid-column: 3;
        grid-row: 1;  
  }

    .im-skate {
        background-color: rgb(240, 224, 193);
        grid-column: auto;
        grid-row: auto;
  }
    .d-long1{
        grid-column: auto;
        grid-row: auto;

  }
    .d-long2{
        grid-column: auto;
        grid-row: auto;
  }
    .d_mini{
        grid-column: auto;
        grid-row: auto;
}
    .d-skate{
        grid-column: auto;
        grid-row: auto;
     }